

<table>
  <thead>
    <tr>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('age')">Age</th>
      <th (click)="sort('gender')">Gender</th>
      <th (click)="sort('department')">Department</th>
      <th (click)="sort('address')" colspan="2" class="hidden">Address</th>
    </tr>
  </thead>
  <tr *ngFor="let user of filteredUsers">
    <td>{{user.name}}</td>
    <td>{{user.age}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.department}}</td>
    <td class="hidden">{{user.address.city}}</td>
    <td class="hidden">{{user.address.street}}</td>
  </tr>
</table>
