<!-- [(ngModel)]="opt.gender" -->
<div class="filters">
  <div class="filter-option">
    <p>Gender</p>
    <div *ngFor="let opt of genderOptions">
      <input (change)="onCheck()"
      type="checkbox"
      value="{{ opt }}"
      name="Gender"
       class="options"> {{opt}}
    </div>
  </div>

  <div class="filter-option">
    <p>Department({{departmentOptions.length}})</p>
    <div *ngFor="let opt of departmentOptions">
      <input type="checkbox" value="{{ opt }}" name="Department"  class="options"> {{opt}}
    </div>
  </div>

  <div class="filter-option">
    <p>City({{cityOptions.length}})</p>
    <div *ngFor="let opt of cityOptions">
      <input type="checkbox" value="{{ opt }}" name="City"  class="options"> {{ opt }}
    </div>
  </div>
</div>
