.filters {
  display: flex;
  flex-direction: row;
}

.filter-option {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.filter-option p {
  font-weight: bold;
}

.options {
  margin-bottom: 0.5em;
}


@media screen and (max-width: 900px) {
  .filters {
     flex-direction: column;
     margin-right: 1em;
    }
}
